
.login-card-header {
    background-image: url('/public/images/login-page-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px!important;
    height: 250px!important;
}

